div {
    border: 1px whitesmoke solid;
    /* max-width: 100%;
    max-height: 100%; */
    text-align: center;
    padding: 0px;
    margin: 0px;
}
/* div:hover {
    background-color: black;
} */
button {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:focus {
    outline: none;
}
button:active {
    background-color: grey;
}

html {
    /* border: 1px blue dashed; */
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: royalblue;
    /* display: flex; */
}

body {
    /* border: 1px black dashed; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

#container {
    border: 3px green dashed;
    /* display: flex; */
    /* width: fit-content; */
    /* height: fit-content; */
    width: 600px;
    height: 600px;
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    padding: 0px;
    margin: 0px;
    background-color: transparent;

    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}